---
---

$lightGrey : #ECECED;
$midGrey   : #ABADB0;
$darkGrey  : #7B7C7F;
$blush     : #FDDED5;
$blushDark : #FBC0B0;

* {
  transition: ease-in-out all .25s;
  box-sizing: border-box;
}
body {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pinyon Script', cursive;
  color: $midGrey; 
}

p {
  font-family: 'EB Garamond', serif;
  color: $darkGrey;
}

/*  SECTIONS  */
section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.row:before,
.row:after {
  content:"";
  display:table;
}
.row:after {
  clear:both;
}
.row {
  zoom:1; /* For IE 6/7 */
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 82.83%;
}

.span_4_of_6 {
    width: 65.66%;
}

.span_3_of_6 {
    width: 48.5%;
}

.span_2_of_6 {
    width: 31.33%;
}

.span_1_of_6 {
    width: 14.16%;
}

/*helpers*/
.text_center {
  text-align: center;

  img {
    display: block;
    margin: 10px auto;
  }
}

nav {
  text-align: center;
  padding: 2.5% 0;
  font-family: 'EB Garamond', serif;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    padding: 10px;
    color: $midGrey;

    &:hover {
      color: $blushDark;
    }
  }
}

.img100 {
  width: 100%;
  height: auto;
}

/*gallery*/
.folio {
  position: relative;
  background-color: $blush;

  .description {
    text-align: center;
    transition: ease all .25s;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.45em;
    position: absolute;
    top: 33.33%;
    width: 100%;
    color: $darkGrey;
    z-index: 5;
    display: block;
    opacity: 0;
  }

  &:hover {
    img {
      opacity: .25;
    }

    .description {
      opacity: 1;
    }
  }
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}